In [2]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("animals_info new.csv")

# Data Understanding - Variable & Data Type
print(df.dtypes)
print("\n")
print(f"{len(df.columns)} Column")

Name          object
Genus         object
Species       object
Kingdom       object
Subphylum     object
Class         object
Order         object
Family        object
Attributes    object
dtype: object


9 Column

In [4]:
# Data Preparation - Handle Missing Value
df.isnull().sum()

Name            0
Genus           6
Species         0
Kingdom         0
Subphylum       0
Class           0
Order         437
Family          3
Attributes      0
dtype: int64

In [6]:
# Data Understanding - Descriptive Statistic
df.describe()

,Name,Genus,Species,Kingdom,Subphylum,Class,Order,Family,Attributes
count,29357,29351,29357,29357,29357,29357,28920,29354,29357
unique,29357,6194,28688,416,3,12,123,858,3133
top,Grey Wolf,Conus,Canidae,Animalia,0,Aves,Passeriformes,Muridae,"Terrestrial,Not a migrant,starts with"
freq,1,535,60,28525,18605,10114,5863,764,8463